<!-- Menu -->
<nav class="navbar is-fixed-top is-info is-spaced" *ngIf="logged()">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="./assets/logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112"
        height="28">
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item is-size-5 has-text-weight-bold" routerLink="/mispedidos">
        Mis pedidos
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button is-primary is-medium" routerLink="/nuevopedido">
              <span class="icon">
                <i class="fas fa-shopping-basket"></i>
              </span>
              <span>Hacer pedido</span>
            </a>
          </p>
          <p class="control">
            <a class="button is-danger is-medium" (click)="logout()">
              <span class="icon">
                <i class="fas fa-sign-out-alt"></i>
              </span>
              <span>Salir</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>