<h1 class="title">Mis pedidos</h1>

<div class="is-pulled-right is-grouped field">
  <p class="control button filter">Mostrando:</p>
  <p class="control"><a class="button EMITIDO" (click)="filter('EMITIDO')" [ngClass]="switch('EMITIDO')"> Emitido </a></p>
  <p class="control"><a class="button ENTREGADO" (click)="filter('ENTREGADO')" [ngClass]="switch('ENTREGADO')"> Entregado </a></p>
  <p class="control"><a class="button PAGADO" (click)="filter('PAGADO')" [ngClass]="switch('PAGADO')"> Pagado </a></p>
  <p class="control"><a class="button CANCELADO" (click)="filter('CANCELADO')" [ngClass]="switch('CANCELADO')"> Cancelado </a></p>
</div>
<table class="table is-striped is-fullwidth is-primary">
  <thead>
    <tr>
      <th>Fecha</th>
      <th class="is-hidden-mobile">Primer plato</th>
      <th class="is-hidden-mobile">Segundo plato</th>
      <th class="is-hidden-mobile">Postre</th>
      <th>Estado</th>
      <th>Operaciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of filteredOrders">
      <td>{{order.date | date:'dd/MM/yy'}}</td>
      <td class="is-hidden-mobile">{{order.firstPlate}}</td>
      <td class="is-hidden-mobile">{{order.secondPlate}}</td>
      <td class="is-hidden-mobile">{{order.dessert}}</td>
      <td><span class="tag is-medium" [ngClass]="order.state">{{order.state}}</span></td>
      <td>
        <div class="field is-grouped">
          <p class="control is-hidden-tablet">
            <a class="button is-link">
              <span class="icon is-small">
                <i class="fas fa-info"></i>
              </span>
            </a>
          </p>
          <p class="control" *ngIf="order.state === 'ENTREGADO'">
            <a class="button is-success is-hidden-tablet">
              <span class="icon is-small">
                <i class="fas fa-euro-sign"></i>
              </span>
            </a>
            <a class="button is-success op-btn is-hidden-mobile" (click)="payOrder(order.id)">
              <span class="icon">
                <i class="fas fa-euro-sign"></i>
              </span>
              <span>Pagar</span>
            </a>
          </p>
          <p class="control " *ngIf="order.state === 'EMITIDO'">
            <a class="button is-danger is-hidden-tablet">
              <span class="icon is-small">
                <i class="fas fa-trash-alt"></i>
              </span>
            </a>
            <a class="button is-danger op-btn is-hidden-mobile" (click)="cancelOrder(order.id)">
              <span class="icon">
                <i class="fas fa-trash-alt"></i>
              </span>
              <span>Cancelar</span>
            </a>
          </p>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div class="modal" [ngClass]="confirmation ? 'is-active' : ''">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head  has-background-success">
        <p class="modal-card-title has-text-centered">Pedido realizado con éxito</p>
        <button class="delete" aria-label="close" routerLink="/mispedidos"></button>
      </header>
      <section class="modal-card-body">
        <div class="field">
          <p>Hemos tomado nota de tu pedido y lo tendrás disponible {{available}} a partir de las 13.</p>
          <p>¡Muchas gracias por confiar en nosotros!</p>
        </div>
      </section>
      <footer class="modal-card-foot">
        <div class="has-text-centered">
          <button class="button is-success control" routerLink="/mispedidos">Ver mis pedidos</button>
        </div>
      </footer>
    </div>
  </div>