.op-btn {
  width: 6em;
}

.EMITIDO {
  background: #f5f2ee;
}

.ENTREGADO {
  background: #53b6cc;
  color: white;
}

.PAGADO {
  background: #37a141;
  color: white;
}

.CANCELADO {
  background: #d94136;
  color: white;
}

.filter {
  background-color: white;
  border-color: white;
  color: black;
  box-shadow: none;
  pointer-events: none;
}

.modal-card-foot {
  border-top: none;
}

.modal-card-head,
.modal-card-foot {
  justify-content: end;
  background-color: white;
  /* padding: 10px; */
}

.modal-card-head {
    background-color: #eb857e !important;
}
