<app-steps (setStepEvent)="setStep($event)"></app-steps>
<div class="container">
  <div *ngIf="step === 1" class="center">
    <h1 class="title">Elige entre los siguientes platos</h1>
    <div class="columns is-multiline">
      <div class="column tag is-medium is-2 is-primary" (click)="openModal()">Añadir nuevo plato</div>
      <div class="column tag is-medium is-2" *ngFor="let plate of firstPlates" [ngClass]="isPlateSelected(plate)"
        (click)="selectPlate(plate)">
        {{plate.name}}
      </div>
    </div>
  </div>
  <div *ngIf="step === 2" class="center">
    <h1 class="title">Elige entre los siguientes platos</h1>
    <div class="columns is-multiline">
      <div class="column tag is-medium is-2 is-primary" (click)="openModal()">Añadir nuevo plato</div>
      <div class="column tag is-medium is-2" *ngFor="let plate of secondPlates" [ngClass]="isPlateSelected(plate)"
        (click)="selectPlate(plate)">
        <p>{{plate.name}}</p>
      </div>
    </div>
  </div>
  <div *ngIf="step === 3" class="center">
    <h1 class="title">Elige entre los siguientes postres</h1>
    <div class="columns is-multiline">
      <div class="column tag is-medium is-2 is-primary" (click)="openModal()">Añadir nuevo postre</div>
      <div class="column tag is-medium is-2" *ngFor="let plate of desserts" [ngClass]="isPlateSelected(plate)"
        (click)="selectPlate(plate)">
        <p>{{plate.name}}</p>
      </div>
    </div>
  </div>
  <div *ngIf="step === 4" class="center">
    <div class="box has-text-centered">
      <article class="message is-link" *ngIf="firstSelected !== null">
        <div class="message-header">
          <p>Primer plato</p>
        </div>
        <div class="message-body">
          {{firstSelected}}
        </div>
      </article>

      <article class="message is-primary" *ngIf="secondSelected !== null">
        <div class="message-header">
          <p>Segundo plato</p>
        </div>
        <div class="message-body">
          {{secondSelected}}
        </div>
      </article>

      <article class="message is-info" *ngIf="dessertSelected !== null">
        <div class="message-header">
          <p class="">Postre</p>
        </div>
        <div class="message-body">
          {{dessertSelected}}
        </div>
      </article>
    </div>
    <h1 class="title">Total: 12€</h1>
    <button class="button is-primary is-large is-fullwidth" (click)="saveOrder()">Finalizar pedido</button>
  </div>
</div>


<div class="modal" [ngClass]="showModal()">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title has-text-centered">Añadir nuevo plato</p>
      <button class="delete" aria-label="close" (click)="closeModal()"></button>
    </header>
    <section class="modal-card-body">
      <div class="field">
        <div class="control">
          <form [formGroup]="addPlateForm">
            <input class="input is-medium" type="text" placeholder="Nombre del plato" formControlName="plateToAdd">
          </form>
        </div>
      </div>
      <div class="is-pulled-right is-grouped field">
        <button class="button control" (click)="closeModal()">Volver</button>
        <button class="button is-success control" (click)="savePlate()">Añadir plato</button>
      </div>
    </section>
  </div>
</div>